html,body,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}

  
  body{
    background-color: rgb(255,229,204);
  }
  
  /* Uncomment below if images are way too big.
  Selects all image tags and makes them 500px;
   */
  img {
   width: 450px;
   margin: auto;
   transition:transform 0.2s ease;
  }

  h1{
/*    display: table;*/
/*    margin: 0px auto 0px auto;*/
    padding: 3px;
    text-align: center;
    font-family: monospace;
    background-color: rgba(255,229,204,0.9);
    font-size: 50px;
  }
  h2{
/*    display: table;*/
/*    margin: 5px,auto,5px,auto;*/
    text-align: center;
    font-family: monospace;
    background-color: rgba(255,229,204,0.3);
    font-size: 30px;
  }
  .center {
    display: flex;
    margin: auto;
    width: 50%;
    border: 5px solid #555;
  }